body {
    font-family: Comic Sans MS, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    background-color: lightblue;
    text-align: center;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

h1 {
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    
    animation-name: slideIn;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode; forwards;
}

img {
    width: 100x;
}