body {
    font-family: Comic Sans MS, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    background-color: lightblue;
    text-align: center;
}

h1 {
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

img {
    width: 100x;
}